<h1><%= @cocktail.name %></h1>

  <ul>
    <li>Name: <%= @cocktail.name %></li>
  </ul>
  <%= link_to('Back to cocktail list', cocktails_path) %> | <%= link_to('Edit cocktail', edit_cocktail_path(@cocktail)) %> | <%= link_to('Remove cocktail', cocktail_path(@cocktail), method: :delete,
      data: { confirm: "Are you sure?" }) %>
