<h1>Add a new dose for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient, label: "Ingredient" %>
<%= f.input :description %>
<%= f.submit %>
<% end %>
